{% extends 'base.html' %}

{% block title %}Adăugare carte{% endblock %}

{% block body %}

	<h1>Adăugare carte</h1>

	{% if tables['message'] is defined %}
		<p class="invalid-data">{{ tables['message'] }}</p>
	{% endif %}


	<form action="/admin/books/add" method="post">
		
		<div>
			<label for="title">Titlu</label>
			<input type="text" id="title" name="title" required value="{{ tables['post']['title'] }}" autofocus>
		</div>
		
		<div>
			<label for="author">Autor</label>
			<input type="text" id="author" name="author" list="listOfAuthors" required value="{{ tables['post']['author'] }}">
		</div>

		<div>
			<label for="publisher">Editură</label>
			<input type="text" id="publisher" name="publisher" list="listOfPublishers" value="{{ tables['post']['publisher'] }}">
		</div>

		<div>
			<label for="lang">Limbă</label>
			<input type="text" id="lang" name="lang" list="listOfLangs" required value="{{ tables['post']['lang'] }}">
		</div>

		<div>
			<label for="numOfPages">Nr. de pagini</label>
			<input type="number" min="0" step="1" id="numOfPages" name="numOfPages" required value="{{ tables['post']['numOfPages'] }}">
		</div>

		<div>
			<label for="pubYear">An</label>
			<input type="number" min="0" max="{{ "now"|date("Y") }}" step="1" id="pubYear" name="pubYear" value="{{ tables['post']['pubYear'] }}">
		</div>
		
		<div>
			<label for="locality">Localitate</label>
			<input type="text" id="locality" name="locality" list="listOfLocalities" value="{{ tables['post']['locality'] }}">
		</div>
		
		<div>
			<label for="isbn">ISBN</label>
			<input type="text" id="isbn" name="isbn" autocomplete="false" pattern="^(?:ISBN(?:-1[03])?:? )?(?=[0-9X]{10}$|(?=(?:[0-9]+[- ]){3})[- 0-9X]{13}$|97[89][0-9]{10}$|(?=(?:[0-9]+[- ]){4})[- 0-9]{17}$)(?:97[89][- ]?)?[0-9]{1,5}[- ]?[0-9]+[- ]?[0-9]+[- ]?[0-9X]$" placeholder="13 sau 10 cifre" title="de exemplu, „978-3-16-148410-0” (13 cifre) sau „5-372-01498-9” (10 cifre)" value="{{ tables['post']['isbn'] }}">
		</div>
		
		<input type="submit" name="submit" id="submit" value="Adăugare">


		<datalist id="listOfAuthors">
			{% for author in tables['authors'] %}
				<option value="{{ author }}">
			{% endfor %}
		</datalist>

		<datalist id="listOfLangs">
			{% for lang in tables['langs'] %}
				<option value="{{ lang }}">
			{% endfor %}
		</datalist>

		<datalist id="listOfPublishers">
			{% for publisher in tables['publishers'] %}
				<option value="{{ publisher }}">
			{% endfor %}
		</datalist>

		<datalist id="listOfLocalities">
			{% for locality in tables['localities'] %}
				<option value="{{ locality }}">
			{% endfor %}
		</datalist>

	</form>
	
{% endblock %}