<!DOCTYPE html>
<html lang="ro">
<head>
	<meta charset="utf-8">
	<title>Ex libris - {% block title %}{% endblock %}</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="O aplicație pentru gestionarea cărților">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic|Noto+Serif:400,400italic,700,700italic&amp;subset=latin,greek,greek-ext,devanagari,vietnamese,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
	<link href="/stylesheets/print.css" media="print" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<!--[if IE]>
		<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
</head>
<body>
<!--[if lt IE 10]>
	<p class="browserupgrade">
		Folosiți un navigator <strong>învechit</strong>. Pentru a continua, vă rugăm să-l <a href="http://browsehappy.com/">actualizați</a>.
	</p>
<![endif]-->
<div class="content-container">

	<header>
		<nav id="mainNav">
			<ul>
				<li id="logo">
					<a href="/">
					ex libris
					</a>
				</li>
				<li>
					<a href="/admin/books/add">
					adăugare carte
					</a>
				</li>
			</ul>
		</nav>
		<form action="/books/search" method="get">
			<input type="search" placeholder="căutare" name="q" id="searchInput">
			<i class="fa fa-search" aria-hidden="true"></i>
		</form>
	</header>

	<nav id="pageNav">
		<ul>
			<li><a href="/books/index">cărți</a></li>
			<li><a href="/authors/index">autori</a></li>
			<li><a href="/langs/index">limbi</a></li>
			<li><a href="/publishers/index">edituri</a></li>
			<li><a href="/localities/index">localități</a></li>
		</ul>
	</nav>

	<main>
		{% block body %}
		{% endblock %}
	</main>

</div>

<footer id="pageFooter">
	<p>Ex libris &copy; {{ "now"|date("Y") }}</p>
	<p>Dezvoltat de <a href="//cristigar.github.io/">Cristian Garabagiu</a></p>
</footer>

</body>
</html>